<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - MoneyNet</title>
    <link rel="icon" type="img/x-icon" href="img/MoneyNet.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Custom fonts for this template-->
    <link href="css/all.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/General.css" rel="stylesheet">


</head>

<body id="page-top" bg:fff>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <p class="h3 mb-0 text-black text-center" style="color: blue; width: 100%;"><b>MoneyNet</b></p>

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>

                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">

                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-search fa-sm"></i>
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid-mainpage">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <p class="h1 ml-5 mt-6 mb-1 text-gray-800" style="width: 100%;"><b>Budget & Expenses.
                                        Take control of your finances, set up your budget and know how much you can
                                        spend</b></p>
                            </div>
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <p class="h6 ml-5 mt-1 mb-5 text-black" style="width: 100%"><b>MoneyNet will help you
                                        not to overspend on your well-earned salary by setting up a budget plan that
                                        fits you.</b></p>
                            </div>
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <a href="/" class="btn btn-start ml-5 mt-5 mb-6" data-toggle="button">
                                    <span>Start</span></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../img/MainPage.png" alt="Картинка" style="width: 100%; margin-top: 70px;">
                        </div>
                    </div>

                    <div class="row" style="background-color: blue;">

                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <p class="h5 ml-6 mt-4 mb-1 text-white" style="font-weight: 320; width: 100%;">
                                <b>MoneyNet helps you set up a budget and keep track of your expenses, either by
                                    yourself or together with your loved ones.</b>
                                <br><b>Here's what is waiting for you inside: </b>
                            </p>
                        </div>


                    </div>

                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <p class="h4 ml-5 mt-4 text-gray-800" style="font-weight: 550; width: 100%;">
                                    <b>BUDGETS</b>
                                </p>
                            </div>
                            <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
                            <p class="h4 ml-5 mb-1 text-gray-800" style="font-weight: 50; width: 100%;">
                                MoneyNet will help you not to overspend on your well-earned salary by setting up a
                                budget plan that fits you. <br>
                                Do you want a shared budget with your partner? <br>
                                Or keep the expenses between you abd your mates fair on the vacation? No problem, just
                                invite them and get a clear
                                picture of who spent what.
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <p class="h4 ml-5 mt-4 text-gray-800" style="font-weight: 550; width: 100%;">

                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <p class="h4 ml-5 mt-4 text-gray-800" style=" font-weight: 550; width: 100%;">
                                    <b>OVERVIEW</b>
                                </p>
                            </div>
                            <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
                            <p class="h4 ml-5 mb-1 text-gray-800" style="font-weight: 50; width: 100%;">
                                We'll give you a beautiful & detailed overview of your spendings, income, and savings.
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <p class="h4 ml-5 mt-4 text-gray-800" style="font-weight: 550; width: 100%;">
                                    <b>SPLIT</b>
                                </p>
                            </div>
                            <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
                            <p class="h4 ml-5 mb-1 text-gray-800" style="font-weight: 50; width: 100%;">
                                Split lets you know who paid what, and how to settle up.
                            </p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="d-sm-flex align-items-center justify-content-between">
                            <p class="h3 ml-6 mt-4 mb-6 text-gray-800" style="font-weight: 600; width: 100%;">
                                <b>And much more for you to find. Take control of your finance today!</b>
                            </p>
                        </div>
                    </div>

                




            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer" style="background-color: rgb(0, 0, 96);>
            <div class="container my-auto">
                <div class="copyright text-center my-auto text-white">
                    <span>Copyright &copy; MoneyNet 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="logout btn btn-primary">Logout</a>

                </div>
            </div>
        </div>
    </div>

    <!-- 
    <script src="../public/js/jquery/jquery.js"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>

   
    <script src="../public/js/jquery-easing/jquery.easing.js"></script>

    
    <script src="../public/js/sb-admin-2.min.js"></script>

    
    <script src="../public/js/Chart.js"></script>

   
    <script src="../public/js/chart-area-demo.js"></script>
    <script src="../public/js/chart-pie-demo.js"></script>-->
    <script src="js/home.js"></script>
</body>

</html>