<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="css/form.css">

</head>
<body>

    <div class="alert-box">
        <p class="alert"></p>
    </div>

    <div class="form">
        <h1 class="heading">Login</h1>
        <input type="email" placeholder="Email" autocomplete="off" class="email" required>
        <input type="password" placeholder="Password" autocomplete="off" class="password" required>
        <button class="submit-btn">Log in</button>
        <a href="/register" class="link">Don't have an account yet? Register in</a>
    </div>

    <script src="js/form.js"></script>
    
</body>
</html>
